<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Edit Authors
      </mat-panel-title>
      <mat-panel-description>
        Click on a colored field to edit
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-all-authors-editable></app-all-authors-editable>

  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Edit Books
      </mat-panel-title>
      <mat-panel-description>
        Click on a colored field to edit
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-all-books-editable></app-all-books-editable>

  </mat-expansion-panel>

</mat-accordion>
