@import '../../../../variables';

img{
  max-width: 100%;
  max-height: 100%;
}
.mat-grid-tile-header, .mat-grid-tile-footer{
  height: 4vw
}
.mat-grid-tile-footer{
  justify-content: space-between;
}
.mat-grid-tile-header{
  min-height: 40px;
  height: min-content !important;
}
span{
  font-size: calc(12px + (20 - 12) * ((100vw - 300px) / (1600 - 300))) !important;
  line-height: calc(1em + (1.5 - 1) * ((100vw - 300px)/(1600 - 300)));
}

.mat-grid-tile .mat-grid-tile-header > *{
  font-style: italic;
}

i{
  color: $primary;
}
