<mat-grid-list cols = 4 gutterSize="5%">
  <h1 *ngIf="authorName === undefined; else elseBlock">Books</h1>
  <ng-template #elseBlock><h1>Books by <i>{{authorName}}</i></h1></ng-template>
  <mat-grid-tile *ngFor="let book of books | async">
    <img src="../../../assets/jpg/bookCover.jpg" alt="Book Cover">
    <mat-grid-tile-header><span>{{book.title}}</span></mat-grid-tile-header>
    <mat-grid-tile-footer>
      <span>{{book.price}}€</span>
      <button mat-icon-button><mat-icon style="transform: scale(1.2)">add_shopping_cart</mat-icon></button>
    </mat-grid-tile-footer>

  </mat-grid-tile>
</mat-grid-list>
