@import "themes";

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button, .mat-list-item, .clickable{
  color: $primary!important;
  &:hover{
    color: $accent!important;
    transition: 350ms!important;
  }
}

.mat-toolbar button{
  background-color: $light-grey!important;
}




